/* BOX MODEL:  Height, Width, Padding, Border, Margin */

:root {
    --indentation: 30px;
}

body {
    margin: 0;

    display: flex;
    flex-flow: column nowrap;
}

textarea {
    width: calc(100% - (10px * 4));
    height: 200px;
    padding: 10px;
    margin: 10px;
    border: none;

    resize: none;

    background-color: lightgray;
    font-family: monospace;
}

li {
    list-style: none;
}

.task {
    background-color: red;
}

.subtask-1 {
    margin-left: calc(var(--indentation) * 1);
    background-color: yellow;
}

.subtask-2 {
    margin-left: calc(var(--indentation) * 2);
    background-color: green;
}

.subtask-3 {
    margin-left: calc(var(--indentation) * 3);
    background-color: blue;
}

.subtask-4 {
    margin-left: calc(var(--indentation) * 4);
    background-color: violet;
}